{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">
    <h1>Consulta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultum.id }}</td>
            </tr>
            <tr>
                <th>Consulta</th>
                <td>{{ consultum.Consulta }}</td>
            </tr>
        </tbody>
    </table>
   </div>
    <a href="{{ path('app_consulta_index') }}"class="btn btn-info w-25">back to list</a>

    <a href="{{ path('app_consulta_edit', {'id': consultum.id}) }}"class="btn btn-info w-25">edit</a>

    {{ include('consulta/_delete_form.html.twig') }}
{% endblock %}
