{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;margin-left: 10px;margin-top: 10px;">
    <h1>Categoria index</h1>
  <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.name }}</td>
                <td>
                    <a href="{{ path('app_categoria_show', {'id': categorium.id}) }}">show</a>
                    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoria_new') }}"class="btn btn-info w-25">Create new</a>
</div>
{% endblock %}
