{% extends 'base.html.twig' %}

{% block title %}Artesania en madera{% endblock %}

{% block body %}
    {{ parent() }}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert"
                 xmlns:https="http://www.w3.org/1999/xhtml">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container" style="background: transparent;margin-right: 25%;height: auto;border: 0">
        <h1 style="width: auto;color: white;font-family: 'Brush Script MT';font-size:80pt;margin-top: 25Px;"><b>Artesania en Madera</b> </h1>
        <h2 style="width: auto;color: white;font-family: 'Brush Script MT';font-size:40pt;margin-top: 25Px;">Artículos de madera pintados a mano</h2></div>div>
    </div>
    <div class="container" style="background: transparent;margin-right: 25%;height: auto;border :0">
        <h3 style="width: auto;color:white;font-family: 'Verdana';font-size:20pt;margin-top: 30Px;"><b>Articulos Personalizados</b></h3>
        <p style="width: auto;color:white;font-family: 'Verdana';font-size:12pt;margin-top: 25Px;text-align: justify;margin-left: 10%">Además de los artículos que aparecen en el catálogo,  queremos deciros que podéis realizar<br> cualquier otra idea que tengáis... desde un logotipo de empresa,  un club motero,.... un nombre<br> para una habitación infantil... Lo que se os ocurra !! . En nuestras redes sociales podréis ver algunos ejemplos<br> de lo que hacemos . Esperamos vuestras propuestas!!!<br>Si la pieza que queréis del catálogo está agotada, no hay problema.
            Contactad con nosotros y la<br> repondremos a la mayor brevedad.</p>
    </div>
    <div class="container" style="background: #b88b5c;margin-left: 5%;height: 1000px;width:auto;border :0;mar">
        <h3 style="width: auto;color:white;font-family: 'Verdana';font-size:20pt;margin-top: 10Px;"><b>Conocenos</b></h3>
        <img src="{{ asset('images/artesano.jpg') }}" height="80">
        <p style="width: auto;color:navajowhite;font-family: 'Verdana';font-size:10pt;margin-top: 25Px;text-align: justify;margin-left: 20%"><b>Nos encanta imaginar que alguna pieza hecha por nosotros estará en algún<br>
                lugar.... No sabemos dónde....en un cuarto de una niña... en la habitación de uno<br>
                de nuestros queridos "frikis".....en la cocina de una mujer con personalidad.... <br
                        Nos alucina ver las caras de nuestros clientes cuando por primera vez, ven<br>
                terminada su pieza.. Ese momento es mágico. Esa pieza que ellos imaginaban<br>
                en su cabeza como un boceto y que tras conversar, muchos diseños, muchos cortes<br>
                y lijado de madera y unas cuantas capas de pintura, todo ello hecho con un gran<br>
                amor, se convierte en algo único. Algo especial que es un pedacito de ellos y<br>
                también de nosotros. Ese momento compensa todos los inconvenientes que han<br>
                surgido en el proceso, como las máquinas que muchas veces se rebelan,... la<br>
                maderaque sorprende su comportamiento cada día,... la pintura en sitios en los<br>
                que no entra un pincel y se estropea lo ya terminado. . . Y al final ese momento<br>
                mágico que os decía, nos engancha a seguir, deseando que nos planteeis un<br> nuevo reto.</b> </p>
        <h3 style="width: auto;color:white;font-family: 'Verdana';font-size:20pt;margin-top: 25Px;"><b>Contacta con Nosotros</b></h3>
        <p style="width: auto;color:navajowhite;font-family: 'Verdana';font-size:10pt;margin-top: 25Px;text-align: justify;margin-left: 20%"><img src="{{ asset('images/icons/auricular-phone-symbol-in-a-circle_icon-icons.com_56570.png') }}"><b>+34 696 49 52 65 | </b><img src="{{ asset('images/icons/letter_icon-icons.com_67753.png') }}"> <b>macandmike.artesaniaenmadera@gmail.com</b></p>
        <div class="card" style="background: transparent;border: 0;display:inline-block ">
            <p style="width: auto;color:white;font-family: 'Verdana';font-size:16pt;margin-top: 25Px;text-align: left;"><b>Nuestras redes</b>
            <a class="btn" href="https://www.instagram.com/mac_and_mike/"style="background-image: url('../public/images/icons/3721672-instagram_108066.png');height:32px;width: 32px;align-content: " ></a>
            <a class="btn" href="https://www.facebook.com/macandmikeartesaniaenmadera/"style="background-image: url('../public/images/icons/facebook_icon_130940.png');height:32px;width: 32px;" ></a>
            </p>
        </div>
       <p></p>
        <h4 style="width: auto;color:white;font-family: 'Verdana';font-size:20pt;margin-top: 25Px;text-align: left;"><b></b>Localizacion</b></h4>
        <div class="flex" style="background: transparent;border: 0;margin-top:10px;f">
            <div style="float: left;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.7663446207457!2d-4.428038524940736!3d36.72817247175776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7bb989dcd15%3A0xd0cf189087384a43!2sC.%20Huerto%20de%20los%20Claveles%2C%2013%2C%2029013%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1686378883406!5m2!1ses!2ses" width="400" height="300" style="border:0;margin-left: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <p style="width: auto;color:navajowhite;font-family: 'Verdana';font-size:12pt;margin-top: 0;text-align: justify;margin-left: 40%;">Dirección<br> C/ Huerto de los Claveles 13 Málaga España</p>
                <p style="width: auto;color:navajowhite;font-family: 'Verdana';font-size:12pt;margin-top: 0;text-align: justify;margin-left: 40%;">Horario<br> Lunes a Viernes<br> Mañana: 9:00 -13:00 h  Tardes: 17:00 - 19:00h</p>





            </div>
        </div>
        </div>


{% endblock %}

